* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #171539;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  padding: 12%;
}

form {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.Head-text {
  color: white;
}
input[type="submit"] {
  background: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #555;
}

.text {
  color: white;
  margin-left: 5px;
  padding: 10px;
}

.Add-Detail {
  color: white;
}

.text-Register {
  color: tomato;
}
