

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE-edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/booking.css" />
  <title>Co-Working Space Booking</title>
  <script>
    
    document.addEventListener("DOMContentLoaded", function () {
      var confirm = document.getElementById("confirm_button");
      var username = '{{ username }}';
      confirm.addEventListener("click", function() {
        save_booking(username);
      });
    });
  </script>
</head>

<body>

  <div class="CoSeat-container">
    <h2 id="CoSeat">Co-Working Space Reservation</h2>
  </div>

  <ul class="showcase">
    <li>
      <div class="seat"></div>
      <small>N/A</small>
    </li>
    <li>
      <div class="seat selected"></div>
      <small>Selected</small>
    </li>
    <li>
      <div class="seat occupied"></div>
      <small>Occupied</small>
    </li>
  </ul>

<div class = "bg">
  <ul class="Room" id="RoomBarEL">
    
      <div class="small1" id="Room1" onclick="showRoom(1);">Room1</div>
      <div class="small1" id="Room2" onclick="showRoom(2);">Room2</div>
      <div class="small1" id="Room3" onclick="showRoom(3);">Room3</div>
      <div class="small1" id="Room4" onclick="showRoom(4);">Room4</div>
  </ul>
</div>

<div class="fixed-container">
  <div class="space">
    {% for entry in entries %}
    <div class="container Room" id="container{{entry.room}}">
      <div class="container{{entry.room}}">
        
      
        <div class="head">
          <h4>Co-Working Space Zone {{entry.room}}</h1>
        </div>
        <div class="row">
          {% for i in range(8) %}
            {% if i + ((entry.room - 1)*16) in entry.seat %}
            <div class="seat occupied"></div>
            {% else %}
            <div class="seat"></div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="screen"></div>

        <div class="row">
          {% for i in range(8) %}
            {% if i+8 + ((entry.room - 1)*16) in entry.seat %}
            <div class="seat occupied"></div>
            {% else %}
            <div class="seat"></div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

  <p class="text">
    You have booked <span id="count">0</span> for Co-Working Space
  </p>

  <button id="confirm_button" class="button">Confirm Selection</button>

  <script src="/js/booking.js"></script>

</body>

</html>
