<!DOCTYPE html>
<html>

<head>
    <title>Channel Entries</title>
    <link rel="stylesheet" type="text/css" href="/css/channel_style.css">

    <script>
        function CreateForum(username) {
            location.href = '/create_forum/' + username;
        }
    </script>



</head>


<body>

    <header>
        <div class="func">
            <ul class="navlist">
                <li><a href="/process_login/{{username}}">SE Forum</a></li>
                <li><a href="/booking_room/{{username}}">Booking Room</a></li>
            </ul>
        </div>
    </header>


    <div class="head">
        <h1>SE Forum</h1>
    </div>
    <div class="container">
        {% for entry in entries %}
        <div class="meeting-block">
            <div class="meeting-type">
                <p>{{ entries[entry].type }}</p>
            </div>
            <div class="meeting-topic">
                <h3>{{ entries[entry].topic }}</h3>
            </div>
            <div class="meeting-description">
                <p>{{ entries[entry].content }}</p>
            </div>
            <button class="join-button"
                onclick="location.href='/channel/{{ username }}/{{ entries[entry].topic }}';">View Post</button>
        </div>
        {% endfor %}
    </div>
    <div class="spacer"></div>

    <footer>
        <button id="createButton" class="create-button" onclick="CreateForum('{{ username }}');">Create</button>
    </footer>



</body>

</html>