<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/create_forum.css">

<html>
<head>
    <title>Create Forum</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var sub = document.getElementById('submit_form');
            sub.addEventListener('click', function(e) {
                e.preventDefault();
                var username = '{{ username }}';
                console.log("start");
                Create(username);
            });
        })

        function Create(username){
            var topic = document.getElementById('topic').value;
            var content = document.getElementById('content').value;
            var type = document.getElementById('type').value
            // Check if the topic and conetent is empty
            if (topic == '' || content == ''){
                alert('Please fill in the topic and content.');
                return;
            }
            
            var forum_data = {
                type: type,
                topic: topic,
                content: content
            };

            fetch('/create/' + username, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(forum_data)
            })
            .then(response => {
                if (response.ok) {
                    response.json().then(data => {
                        if (data['message'] == "Topic is already taken" ){
                            alert(data['message']);
                            return;
                        }else if (data['message'] == "Create forum successfully"){
                            alert(data['message']);
                            window.location.href = "/process_login/" + username;
                            return;
                        }

                });
                } else {
                    // Handle errors
                    alert('An error occurred');
                }
                return response.json();
            })
            .then(data => {
                alert(data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
            
        }
    </script>
</head>
<body>
    <h1>New Forum</h1>

    
    <form action="/create" method="post">
        <label for="type" class="Select-type">
            <p>Select Type:</p>
        </label>
        <select name="type" id="type">
            <option value="daily_life">Daily Life</option>
            <option value="study">Study</option>
            <option value="coding">Coding</option>
            <option value="knowledge">Knowledge</option>
        </select>
        <br><br>
        <label for="topic">
            <p>Topic:</p>
        </label>
        <input type="text" name="topic" id="topic" required>
        <br><br>
        <label for="content">
            <p>Content:</p>
        </label>
        <textarea name="content" id="content" rows="4" cols="50" required></textarea>
        <br><br>
        <input type="submit" value="Submit" id="submit_form">
    </form>
</body>
</html>
