<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/forum_entries.css">
<html>
<head>
    <title>Forum Entries</title>
</head>
<body>
    <div class="head">
        <h1>Forum Entries</h1>

    </div>
    <div class="container">
        <ul>
            <li>
                <strong>Type:</strong><p>{{ entries.type }}</p>
                <strong>Topic:</strong> <p>{{ entries.topic }}</p>
                <strong>Content:</strong> <p>{{ entries.content }}</p>
            </li>
        </ul>
    </div>
    <div class="back-position">
        <!-- <button href="" class="back">Back to Form</button> -->
        <button class="back" onclick="location.href='/channel';">Back to form</button>

    </div>
</body>
</html>
